/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --post-title: #564c4c
}

.main-section {
  margin: 50px 15% 0px;
}

.new-post-container {
  display: flex;
  justify-content: flex-end;
}

.new-btn {
  background-color: #0caaef;
  border: 0px;
  padding: 10px;
  color: white;
  font-size: 0.9rem;
}

.new-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.post-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 45px;
}

.blog-title {
  font-size: 1.6rem;
  color: #d50e0e;
}

.caption {
  font-size: 2rem;
  color: gray;
  text-align: center;
  margin-top: 15px;
}

.post-containers a {
  text-decoration: none;
  color: var(--post-title);
}

.post-containers a:visited {
  color: var(--post-title);
}

.posts-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article-title {
  font-size: 1.4rem;
}

.article-title:hover {
  text-decoration: underline;
}
